<header class="unsigned-in-header">Manage your<br/>Events with pleasure</header>
<div class="form-container">
  <%= render "sessions/login_form" %>
  <%= render "registrations/signup_form", user: @user %>
</div>